[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/slerpxcq/glfw.git
[submodule "3rdparty/ImGuizmo"]
	path = 3rdparty/ImGuizmo
	url = https://github.com/slerpxcq/ImGuizmo.git
[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com/slerpxcq/spdlog.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/slerpxcq/glm.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/slerpxcq/stb.git
[submodule "3rdparty/nativefiledialog"]
	path = 3rdparty/nativefiledialog
	url = https://github.com/slerpxcq/nativefiledialog.git
[submodule "3rdparty/EventBus"]
	path = 3rdparty/EventBus
	url = https://github.com/slerpxcq/EventBus.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/slerpxcq/imgui.git
	branch = docking
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/slerpxcq/yaml-cpp.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/slerpxcq/googletest.git
[submodule "3rdparty/bullet3"]
	path = 3rdparty/bullet3
	url = https://github.com/bulletphysics/bullet3.git
